<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>startPoints</key>
	<array>
		<string>{0,0}</string>
		<string>{0,0}</string>
		<string>{0,30}</string>
		<string>{0,60}</string>
		<string>{42,0}</string>
		<string>{50,6}</string>
		<string>{50,24}</string>
		<string>{42,30}</string>
		<string>{50,36}</string>
		<string>{50,54}</string>
	</array>
	<key>endPoints</key>
	<array>
		<string>{0,60}</string>
		<string>{42,0}</string>
		<string>{42,30}</string>
		<string>{42,60}</string>
		<string>{50,6}</string>
		<string>{50,24}</string>
		<string>{42,30}</string>
		<string>{50,36}</string>
		<string>{50,54}</string>
		<string>{42,60}</string>
	</array>
</dict>
</plist>
